# Gemini Api Key Required for connecting to Gemini API. You can get your API key from https://exchange.gemini.com/settings/api
GEMINI_API_KEY = 

DB_TYPE=mysql

# mysql
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=first_db
MYSQL_USER=root
MYSQL_PASSWORD=

# postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=
POSTGRES_USER=
POSTGRES_PASSWORD=

# sqlite
SQLITE_PATH=./database.db